body {
  color: palevioletred;
  margin: 0; }
  body p {
    font-size: 1em; }

html {
  background-color: #8f8;
  font-size: 16px; }

main {
  margin: 0 0; }

header, footer {
  text-align: center;
  padding: 1em; }

#icon {
  height: 2.5em;
  background: no-repeat url(favicon-96x96.png);
  background-size: 2.5em;
  background-position: center; }

main {
  color: red; }
  main .bar {
    text-align: right;
    height: 2em; }
    main .bar #controls {
      text-align: center;
      z-index: 1;
      color: palevioletred; }
    main .bar button {
      font-size: 1em;
      height: 2em;
      width: 4em; }
    main .bar #generation, main .bar #fps {
      position: relative;
      top: -2em;
      z-index: -1; }
  main .gameBoard {
    max-width: 32em;
    margin: auto; }
  main p {
    font-family: Courier New, Courier, monospace;
    color: palevioletred; }
  main .block {
    display: inline-block;
    height: 0.5em;
    width: 0.5em; }
    main .block:hover {
      background-color: violet; }
  main .block-line {
    height: 0.5em; }
